{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "16.8.6"
    }
  }
}
